body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.color-name {
    color: orange;
}

.sec {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 1%;
}

.half-width a {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
}

.half-width img {
    width: 70%;
}

.background-image {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.big-D {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

h2 {
    font-size: 40px;
}

h3 {
    color: gold;
}

.experinces {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experinces-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 20px gray;
    padding: 20px;

}

#full-developer {
    border-left: 7px solid tomato;
}

#baby-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}